body{
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: 'Exo 2', sans-serif;
}
.loading-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}
.loading-wrap{
  display: flex;
  flex: row nowrap;
  height: 200px;
  width: 325px;
  /*position: relative;*/
}
.circle-wrap{
  position: relative;
  flex: 1;
}

.circle-wrap .outer-circle {
    width: 170px;
    height: 170px;
    position: absolute;
    /* -webkit-transform-style: preserve-3d; */
    /* transform-style: preserve-3d; */
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 35px #2FD043, inset 0 0 35px #41FF3E;
    animation: rotate-outer 10s linear;
    z-index: 2;
}

.circle-wrap .inner-circle {
	width: 125px;
    height: 125px;
    position: absolute;
    top: 23px;
    left: 23px;
    border-radius: 100%;
    box-sizing: border-box;
    /*box-shadow: 0 0 35px #2FD043, inset 0 0 35px #41FF3E;*/
    animation: rotate-inner 5s linear;
    border: 5px white solid;
}

.inner-circle__offset{
	height: 132px;
    width: 50px;
    background-color: #000;
    position: absolute;
    left: calc(50% - 25px);
    top: -5px;
}

.inner-circle__offset:first-child{
	transform: rotate(130deg);
}
.inner-circle__offset:nth-child(2){
	transform: rotate(-120deg);
    height: 50%;
    top: 50%;
    transform-origin: top center;
    padding-top: 7px;
}
.inner-circle__offset:nth-child(3){
	transform: rotate(44deg);
    height: 50%;
    top: 50%;
    transform-origin: top center;
    padding-top: 7px;
}

.circle-wrap .loading-label{
	color: #fff;
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 88px);
    width: 100px;
    height: 30px;
    text-align: center;
}
.counter-wrap{
    width: 72px;
    height: 120px;
    position: relative;
    overflow: hidden;
    align-self: flex-end;
}
.counter-value {
  width: 755px;
  font-size: 100px;
  color: white;
  animation: move-count 12s steps(10) infinite; 
}
.progress-bar-wrap{
	position: absolute;
    left: 0;
    top: calc(50% - 33px);
    width: 100%;
}
.progress-bar{
	width: 100%;
	height: 30px;
	background: linear-gradient(to bottom, rgba(210,255,82,0.7) 0%,rgba(145,232,66,0.2) 100%);
}
.glitch span:before, 
.glitch span:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  clip: rect(0, 0, 0, 0);
  width: 100%;
}

.glitch span:after {
  left: 2px;
  text-shadow: -1px 0 red;
  animation: glitch-anim-1 .7s infinite linear alternate-reverse;
}

.glitch span:before {
  left: -2px;
  text-shadow: 2px 0 blue;
  animation: glitch-anim-2 .8s infinite linear alternate-reverse;
}

@keyframes move-count{
    100% { transform: translateX(-750px); }
}

@keyframes glitch-anim-1 {
  0% {
    clip: rect(71px, 725px, 265px, 0);
  }
  5.88235% {
    clip: rect(18px, 725px, 32px, 0);
  }
  11.76471% {
    clip: rect(95px, 725px, -539px, 0);
  }
  17.64706% {
    clip: rect(107px, 725px, 36px, 0);
  }
  23.52941% {
    clip: rect(87px, 725px, 64px, 0);
  }
  29.41176% {
    clip: rect(111px, 725px, 28px, 0);
  }
  35.29412% {
    clip: rect(1px, 725px, 21px, 0);
  }
  41.17647% {
    clip: rect(51px, 725px, 33px, 0);
  }
  47.05882% {
    clip: rect(44px, 725px, 93px, 0);
  }
  52.94118% {
    clip: rect(81px, 725px, 47px, 0);
  }
  58.82353% {
    clip: rect(111px, 725px, 78px, 0);
  }
  64.70588% {
    clip: rect(5px, 725px, 87px, 0);
  }
  70.58824% {
    clip: rect(29px, 725px, 31px, 0);
  }
  76.47059% {
    clip: rect(103px, 725px, 77px, 0);
  }
  82.35294% {
    clip: rect(59px, 725px, 78px, 0);
  }
  88.23529% {
    clip: rect(25px, 725px, 74px, 0);
  }
  94.11765% {
    clip: rect(14px, 725px, 4px, 0);
  }
  100% {
    clip: rect(86px, 725px, 82px, 0);
  }
}
@keyframes glitch-anim-2 {
  0% {
    clip: rect(59px, 525px, 110px, 0);
  }
  5.88235% {
    clip: rect(76px, 525px, 112px, 0);
  }
  11.76471% {
    clip: rect(68px, 525px, 88px, 0);
  }
  17.64706% {
    clip: rect(46px, 525px, 87px, 0);
  }
  23.52941% {
    clip: rect(3px, 525px, 7px, 0);
  }
  29.41176% {
    clip: rect(27px, 525px, 76px, 0);
  }
  35.29412% {
    clip: rect(19px, 525px, 39px, 0);
  }
  41.17647% {
    clip: rect(93px, 525px, 64px, 0);
  }
  47.05882% {
    clip: rect(89px, 525px, 16px, 0);
  }
  52.94118% {
    clip: rect(39px, 525px, 52px, 0);
  }
  58.82353% {
    clip: rect(40px, 525px, 9px, 0);
  }
  64.70588% {
    clip: rect(51px, 525px, 33px, 0);
  }
  70.58824% {
    clip: rect(110px, 525px, 74px, 0);
  }
  76.47059% {
    clip: rect(34px, 525px, 81px, 0);
  }
  82.35294% {
    clip: rect(88px, 525px, 7px, 0);
  }
  88.23529% {
    clip: rect(107px, 525px, 69px, 0);
  }
  94.11765% {
    clip: rect(37px, 525px, 78px, 0);
  }
  100% {
    clip: rect(18px, 525px, 113px, 0);
  }
}

@keyframes rotate-outer {  
     0% {    
       -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);            
       transform: rotateX(0) rotateY(0) rotateZ(0);  
      }  
      100% {    
       -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
       transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);  
      }
}
@keyframes rotate-inner {  
      0% {    
       -webkit-transform: rotate(0);
       transform: rotate(0);
      }  
      45% {    
       -webkit-transform: rotate(270deg);
       transform: rotate(270deg);  
      }
      55%{
       -webkit-transform: rotate(270deg);
       transform: rotate(270deg);  	
      }
      100% {    
       -webkit-transform: rotate(0);
       transform: rotate(0);  
      }
}